/*

    Base

*/

body {
  background: white;
  color: $textcolor;
  font-size: 15px;
  line-height: 25px;
  margin: 0;
  min-width: $breakpoint_medium;

  @include sourcesanspro-font;
}

.wrapper {
  margin: 0 auto;
  max-width: 1004px;
  padding: 0 58px;
  position: relative;

  &.content {
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

.wrapper .left {
  float: left;
  width: 46%;
}

.wrapper .right {
  float: right;
  width: 46%;
}



//
//  Content
//
h1 {
  display: none;
}

h2 {
  color: black;
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 0;
  margin: 0 0 27px;
  text-transform: uppercase;
}

p,
ul {
  margin: 0 0 18px;
}

p a,
ul a {
  color: $less_subtle_blue;
}

ul {
  list-style: inside square;
}

i {
  display: inline-block;
  font-style: normal;
  position: relative;
  top: 2px;

  @include icon-font;
}

.screenshot {
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.with-a-border {
  border-bottom: 1px dashed #dadada;
}

.remove-account {
  margin-top: 19px;
}

.remove-account a {
  color: $red;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
}

.remove-account a > [data-icon] {
  display: inline-block;
  font-size: 24px;
  margin-right: 5px;
  position: relative;
  top: 1px;
}
