form {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background: none;
    border: 2px solid #ececec;
    border-radius: 3px;
    color: $textcolor;
    display: block;
    font-size: 17px;
    font-weight: 300;
    margin: 0 0 11px;
    padding: 23px 19px 20px;
    position: relative;
    width: 100%;

    -webkit-appearance: none;
    appearance: none;

    @include sourcesanspro-font;
    @include box-sizing(border-box);
    @include input-placeholder-color(#d4d4d4);
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="submit"]:active {
    border-color: #cacaca;
    outline: 0;
  }

  input[type="checkbox"] {
    display: inline-block;
  }

  label {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin: 0 8px;

    em {
      color: $red;
      display: block;
    }
  }

  input[type="submit"] {
    background-color: #333;
    border: 0;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 22px 25px 23px;

    @include button-gradient;

    &:active,
    &:focus {
      background-color: #222;
      outline: none;
    }

    &.with-margin-top {
      margin-top: 10px;
    }
  }


}
