form {
  input[type=text],
  input[type=password] {
    background: none;
    border: 2px solid darken($light, 0.5%);
    border-radius: 3px;
    color: $dark;
    display: inline-block;
    font-weight: 300;
    margin: 0;
    padding: 23px 19px 20px;
    position: relative;

    -webkit-appearance: none;
    appearance: none;

    @include sourcesanspro-font;
  }

  input[type=text]:focus,
  input[type=password]:focus,
  input[type=submit]:active {
    border-color: darken($light, 15%);
    outline: 0;
  }

  input[type=text],
  input[type=password] {
    display: block;
    font-size: 17px;
    margin-bottom: 11px;
    width: 100%;

    @include box-sizing(border-box);
  }

  input[type=checkbox] {
    display: inline-block;
  }

  label {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin: 0 8px;

    em {
      color: $red;
      display: block;
    }
  }

  input[type=submit] {
    background: $purple;
    border: 0;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 22px 25px 23px;

    @include button-gradient;

    &:active,
    &:focus { background: $bgcolor_1 }
    &.with-margin-top { margin-top: 10px }
  }

  input::-webkit-input-placeholder-color { color: darken($light, 17.5%) }
  input:-moz-placeholder { color: darken($light, 17.5%) }


}
