header {
  background: white;
  border-bottom: 1px solid #ececec;
  display: block;
  overflow: hidden;
  padding: 22px 0;

  @include lato-font;


}



//
//  Navigation
//
header nav {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 14px;
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;

  a, a.sign-in.active {
    border: 0;
    padding: 7px 12px 6px;
  }

  a.sign-in,
  a.sign-out {
    padding: 6px 11px 5px;
  }

  a {
    border-radius: 3px;
    color: darken($rbn_button_text_color, 6.5);
    display: inline-block;
    margin-left: 46px;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    color: $bgcolor;
    outline: 0;
  }

  a.active,
  a.sign-in.active,
  a.sign-up.active {
    background: $bgcolor;
    color: white;
  }

  a.sign-in,
  a.sign-out {
    border: 1px solid rgba($blue, .325);
    color: $blue;
  }

  a.sign-up,
  a.application {
    background: $blue;
    color: white;
  }

  // inner
  a i {
    font-size: 14px;
    margin-right: 5px;
  }


}
