header {
  @include lato-font;
  background: white;
  border-bottom: 1px solid #ececec;
  display: block;
  overflow: hidden;
  padding: 16px 0;

  @media screen and (min-width: $breakpoint_medium) {
    padding: 22px 0;
  }


}



//
//  Logo
//
header .logo {
  background: transparent image-url("logo.svg") center no-repeat;
  background-size: contain;
  display: block;
  height: 28px;
  margin: 0 0 20px;

  @media screen and (min-width: $breakpoint_medium) {
    background-position: left center;
    background-size: auto 42%;
    bottom: -22px;
    height: auto;
    left: 58px;
    margin: 0;
    position: absolute;
    top: -19px;
    width: 240px;
  }

  .name {
    display: none;
  }

  .alpha {
    background-color: $red_3;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 8px;
    left: 50%;
    letter-spacing: 1px;
    line-height: 16px;
    margin-left: 100px;
    padding: 1px 5px 0;
    position: absolute;
    text-transform: uppercase;
    top: 5px;
    vertical-align: top;

    @media screen and (min-width: $breakpoint_medium) {
      margin-left: 197px;
      margin-top: 25px;
      position: static;
    }
  }
}



//
//  Navigation
//
header nav {
  display: block;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  @media screen and (min-width: $breakpoint_medium) {
    text-align: right;
  }

  body.account-created & {
    opacity: .2;

    &:hover {
      opacity: 1;
    }
  }

  a, a.sign-in.active {
    border: 0;
    padding: 7px 12px 6px;
  }

  a.sign-in,
  a.sign-out {
    padding: 6px 11px 5px;
  }

  a {
    border-radius: 3px;
    color: darken($rbn_button_text_color, 6.5);
    display: inline-block;
    margin-left: 14px;
    text-decoration: none;

    @media screen and (min-width: $breakpoint_medium) {
      margin-left: 46px;
    }
  }

  a:hover,
  a:focus,
  a:active {
    color: $bgcolor;
    outline: 0;
  }

  a.active,
  a.sign-in.active,
  a.sign-up.active {
    background: $bgcolor;
    color: white;
  }

  a.sign-in,
  a.sign-out {
    border: 1px solid rgba($blue, .325);
    color: $blue;
  }

  a.sign-up,
  a.application {
    background: $blue;
    color: white;
  }

  // inner
  a i {
    font-size: 14px;
    margin-right: 5px;
  }


}
