.introduction {
  color: $textcolor;
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  letter-spacing: -1px;
  line-height: 46px;
  padding: 41px 0 36px;

  .colored {
    color: darken($bgcolor, 17.5%);
    font-weight: bold;
  }

  .subtext {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0;
  }

  p { margin: 0 }
  p:last-child { margin: 14px 0 0 }


}
