/*

    About page

*/

body.about .slideshow {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  padding-top: 15px;
  white-space: nowrap;

  .slides-wrapper {
    text-indent: 0;
  }

  .slide {
    background: rgba(black, .075);
    display: inline-block;
    height: 421px;
    margin: 0;
    overflow: hidden;
    text-indent: 0;
    width: 100%;

    img[data-src] {
      display: none;
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  .slide-navigation {
    border: 1px dashed #e6e6e6;
    border-top: 0;
    padding: 13px 10px 11px;
    text-align: center;

    @include border-bottom-radius(2px);
  }

  .slide-navigation a {
    border: 2px solid rgba(black, .1);
    cursor: pointer;
    display: inline-block;
    height: 6px;
    margin-left: 8px;
    width: 15px;

    @include transition-duration(500ms);

    &:first-child {
      margin-left: 0;
    }

    &:hover,
    &:focus,
    &:active {
      background: rgba(black, .125);
    }

    &.active {
      background: #aaa;
    }
  }


}
