$color_header: #6C7075;

$purple: lighten(saturate($bgcolor_1, 30%), 21.5%);
$light: lighten(#B6BABF, 15%);
$lighter: lighten(#B6BABF, 8%);
$dark: #343538;


body {
  background: $light;
  color: $color_header;
  font-size: 17px;
  line-height: 29px;
  margin: 0;

  -webkit-font-smoothing: antialiased;

  @include sourcesanspro-font;

  &.about {
    background: $dark;
    color: $color_header;
  }
}

  .wrapper {
    margin: 0 auto;
    position: relative;
    width: 1004px;
  }

  i {
    display: inline-block;
    font-style: normal;
    position: relative;
    top: 1px;

    @include icon-font;
  }



//
// Content

.wrapper.content {
  padding: 50px 0;
}

.introduction {
  background: $purple;
  color: white;
  font-size: 30px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 44px;
  padding: 50px 58px 45px;

  .colored {
    color: darken($purple, 22.5%);
    font-weight: bold;
  }

  .subtext {
    font-size: 15px;
    letter-spacing: 0;
  }

  p { margin: 0 }
  p:last-child { margin: 17px 0 0 }
}

.a-word-of-advice {
  color: $color_header;
  font-style: italic;
  margin-bottom: 30px;
}

.title {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 13px;
  margin-top: 35px;
}

h1 { display: none }
p { margin-top: 0 }

.flash {
  color: #FF666C;
  font-size: 15px;
  margin-top: 13px;

  &.success { color: darken($green, 30%) }

  i {
    font-size: 20px;
    margin-right: 8px;
    top: 3px;
  }
}

.note {
  border: 4px solid rgba($red, .15);
  color: $red;
  padding: 12px 18px 11px;
  position: relative;

  i {
    font-size: 16px;
    margin-right: 10px;
  }
}



//
// Header

header {
  background: white;
  padding: 50px 58px 44px;
}

.application-name {
  color: $color_header;
  display: inline-block;
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: -10px;
  line-height: 42px;
  text-align: center;
  text-decoration: none;

  @include ostrich-font;
}



//
// Header / Navigation

nav {
  bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 14px;
  position: absolute;
  right: 0;
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;
  width: 90%;

  a, a.sign-in.active {
    border: 0;
    padding: 7px 12px 6px;
  }

  a.sign-in,
  a.sign-out {
    padding: 6px 11px 5px;
  }

  a {
    color: $color_header;
    display: inline-block;
    margin-left: 91px;
    text-decoration: none;

    @include border-radius(3px);
  }

  a:hover,
  a:focus,
  a:active {
    color: darken($blue, 5%);
    outline: 0;
  }

  a.active {
    background: $light;
    color: $dark;
  }

  a i {
    font-size: 14px;
    margin-right: 5px;
  }

  a.sign-in,
  a.sign-out {
    border: 1px solid $light;
    color: #9399A0;
  }

  a.sign-in.active {
    background: $light;
    color: $dark;
  }

  a.sign-up {
    background: $bgcolor_1;
    color: white;
  }
}



//
// Slideshow

.slideshow {
  font-size: 0;
  line-height: 0;
  padding-top: 10px;
  white-space: nowrap;

  .slides-wrapper {
    height: 321px;
    overflow: hidden;
    text-indent: 0;

    @include single-box-shadow(rgba(black, .1), 0, 0, 60px, 0);
  }

  .slide {
    cursor: pointer;
    display: inline-block;
    height: 321px;
    margin: 0;
    overflow: hidden;
    text-indent: 0;
    width: 100%;

    img[data-src] {
      display: none;
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  .slide-navigation {
    border: 1px dashed #e6e6e6;
    border-top: 0;
    padding: 13px 10px 11px;
    text-align: center;

    @include border-bottom-radius(2px);
  }

  .slide-navigation a {
    border: 2px solid rgba(black, .1);
    cursor: pointer;
    display: inline-block;
    height: 6px;
    margin-left: 8px;
    width: 15px;

    @include transition-duration(500ms);

    &:first-child {
      margin-left: 0;
    }

    &:hover,
    &:focus,
    &:active {
      background: rgba(black, .125);
    }

    &.active {
      background: #aaa;
    }
  }
}



//
// Forms

form {

  input {
    background: none;
    border: 2px solid darken($lighter, 0.5%);
    color: $dark;
    display: inline-block;
    font-weight: 300;
    margin: 0;
    padding: 23px 19px 20px;
    position: relative;

    -webkit-appearance: none;

    @include sourcesanspro-font;
    @include border-radius(3px);

    &:after {
      color: red;
      content: "test";
      display: inline-block;
      font-size: 30px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  input:focus,
  input[type=submit]:active {
    border-color: darken($lighter, 15%);
    outline: 0;

    // @include single-box-shadow(rgba($green, .4), 0, 0, 7px, 0);
  }

  input[type=text],
  input[type=password] {
    display: block;
    font-size: 17px;
    margin-bottom: 11px;
    width: 100%;

    @include box-sizing(border-box);
  }

  input[type=submit] {
    background: $purple;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 22px 25px 23px;

    &:active,
    &:focus { background: $bgcolor_1 }
  }

  input::-webkit-input-placeholder { color: darken($lighter, 17.5%) }
  input:-moz-placeholder { color: darken($lighter, 17.5%) }
}
