body {
  background: white image-url('background-pages.png');
  color: #2a2a2a;
  font-size: 18px;
  line-height: 32px;
  margin: 50px;

  -webkit-font-smoothing: antialiased;

  @include ptsans-font;
}

  #wrapper {
    margin: 0 auto;
    width: 750px;
  }

  a i {
    display: inline-block;
    position: relative;
    top: 1px;

    @include icon-font;
  }

  .colored {
    background: $green;
    color: darken($green, 30%);
    font-weight: bold;
    padding: 3px 4px 1px;
  }



//
// Content

.application-name {
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: -10px;
  line-height: 42px;
  margin: 0 0 24px;
  text-align: center;

  @include ostrich-font;
}

.title {
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 16px;
  margin-top: 43px;
}

p {
  margin-top: 0;
}



//
// Navigation

nav {
  border: 1px dashed #e6e6e6;
  font-size: 0;
  line-height: 0;
  margin-bottom: 43px;
  overflow: hidden;
  text-transform: uppercase;
  white-space: nowrap;

  @include border-radius(2px);

  a {
    border-right: 1px dashed #e6e6e6;
    color: #888;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding: 7px 14px;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    color: darken($blue, 5%);
    outline: 0;
  }

  a.active {
    color: #111;
  }

  a i {
    font-size: 14px;
    margin-right: 5px;
  }
}



//
// Slideshow

.slideshow {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  padding-top: 15px;
  white-space: nowrap;

  .slides-wrapper {
    height: 421px;
    overflow: hidden;
    text-indent: 0;
  }

  .slide {
    cursor: pointer;
    display: inline-block;
    height: 421px;
    margin: 0;
    overflow: hidden;
    text-indent: 0;
    width: 100%;

    img[data-src] {
      display: none;
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  .slide-navigation {
    border: 1px dashed #e6e6e6;
    border-top: 0;
    padding: 13px 10px 11px;
    text-align: center;

    @include border-bottom-radius(2px);
  }

  .slide-navigation a {
    border: 2px solid rgba(black, .1);
    cursor: pointer;
    display: inline-block;
    height: 6px;
    margin-left: 8px;
    width: 15px;

    @include transition-duration(500ms);

    &:first-child {
      margin-left: 0;
    }

    &:hover,
    &:focus,
    &:active {
      background: rgba(black, .125);
    }

    &.active {
      background: #aaa;
    }
  }
}



//
// Forms

form {

  input {
    background: none;
    border: 1px solid #e6e6e6;
    color: #707070;
    display: inline-block;
    margin: 0;
    padding: 20px;

    -webkit-appearance: none;

    @include default-font;
    @include border-radius(3px);
  }

  input:focus,
  input[type=submit]:active {
    border-color: rgba(darken($green, 30%), .175);
    outline: 0;

    @include single-box-shadow(rgba($green, .4), 0, 0, 7px, 0);
  }

  input[type=text],
  input[type=password] {
    display: block;
    font-size: 16px;
    margin-bottom: 11px;
    width: 100%;

    @include box-sizing(border-box);
  }

  input[type=submit] {
    border-bottom-width: 4px;
    color: #888;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 19px;

    &:active,
    &:focus {
      color: rgba(darken($green, 32.5%), .625);
    }
  }

  input::-webkit-input-placeholder { color: #d7d7d7 }
  input:-moz-placeholder { color: #d7d7d7 }
}
