/*

  Components / Modal

*/

.modal {
  display: none;
  z-index: 10;

  @include stretch_fixed;

  .background {
    background: rgba(black, 0.775);
    cursor: pointer;
    z-index: 0;

    @include stretch;
  }

  .window {
    display: -webkit-flex;
    height: 450px;
    left: 50%;
    margin: -225px 0 0 -400px;
    position: absolute;
    top: 50%;
    width: 800px;
    z-index: 1;

    -webkit-flex-direction: column;
  }

  // header
  header {
    overflow: hidden;

    @include background-image(
      linear-gradient($rbn_outer_color_a, $rbn_outer_color_b)
    );
  }

  header .box {
    color: rgba(white, .75);
    font-size: 14px;
    height: 50px;
    line-height: 52px;
    margin: 1px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    @include background-image(
      linear-gradient($rbn_inner_color_a, $rbn_inner_color_b)
    );
  }

  header .close-button {
    bottom: 0;
    cursor: pointer;
    font-size: 40px;
    font-weight: normal;
    height: 16px;
    line-height: 18px;
    margin-top: -8px;
    position: absolute;
    right: 17px;
    top: 50%;
    width: 16px;

    @include icon-font;
  }

  // section
  section {
    background: white;
    display: -webkit-flex;

    -webkit-flex: 1;
    -webkit-flex-direction: column;
  }

  section .scrollable {
    min-height: 0;
    overflow-y: scroll;
    position: relative;

    -webkit-overflow-scrolling: touch;
    -webkit-flex: 1;
  }


}
