/*

  Components / Modal

*/

.modal {
  display: none;
  z-index: 10;

  @include stretch_fixed;
  @include flex-align-main-axis(center);
  @include flex-align-cross-axis(center);

  &.show {
    @include flex-container;
  }

  .background {
    background: rgba(black, 0.775);
    z-index: 0;

    @include stretch;
  }

  .window {
    height: 450px;
    margin: 24px 22px;
    max-width: 800px;
    width: 100%;
    z-index: 1;

    @include flex-container;
    @include flex-stretch-vertically;
  }

  // header
  header {
    overflow: hidden;

    @include background-image(
      linear-gradient($rbn_outer_color_a, $rbn_outer_color_b)
    );
  }

  header .box {
    color: rgba(white, .75);
    font-size: 14px;
    height: 50px;
    line-height: 52px;
    margin: 1px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    @include background-image(
      linear-gradient($rbn_inner_color_a, $rbn_inner_color_b)
    );
  }

  // section
  section {
    background: white;

    @include flex-container;
    @include flex-stretch-vertically;
    @include flex;
  }

  section .scrollable {
    min-height: 0;
    overflow-y: scroll;
    position: relative;

    -webkit-overflow-scrolling: touch;

    @include flex;
  }


}
