/*

  Components / Tooltip

*/

.tooltip {
  box-shadow: rgba(black, 0.05) 0px 1px 0px 1px,
              rgba(black, 0.05) 0px 5px 7px -1px;
  color: white;
  font-size: 11px;
  position: absolute;
  right: -13px;
  top: 49px;
  width: 166px;
  z-index: 99;

  @include sourcesanspro-font;

  &.hidden {
    display: none;
  }

  // arrow
  .arrow {
    border-bottom: 5px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: block;
    height: 0;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    top: -5px;
    width: 0;
  }

  // group
  .group {
    background: white;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(black, .09);
    }
  }

  .group:last-child,
  .group.last {
    z-index: 0;
  }

  // group label
  .group-label {
    background: $rbn_inner_color_b;
    color: lighten($rbn_button_text_color, 24);
    font-size: 10px;
    letter-spacing: 0.082em;
    line-height: 12px;
    margin-top: -1px;
    padding: 6px 11px 4px;
    text-transform: uppercase;

    span {
      color: darken($rbn_button_text_color, 19);
      display: inline-block;
      margin-left: 3px;
    }
  }

  // buttons
  a {
    border-bottom: 1px solid rgba(black, .04);
    color: $textcolor;
    cursor: pointer;
    display: block;
    line-height: 24px;
    padding: 5px 11px 4px;
    position: relative;
    text-decoration: none;
  }

  .no-touch & a:hover,
  a.drag-target {
    background: $rbn_outer_color_b;
    color: white;
  }

  a em {
    display: inline-block;
    font-style: normal;
    margin-left: 1px;
    opacity: .7;
  }

  // checkbox
  .checkbox {
    border: 1px solid rgba(black, .125);
    border-radius: 3px;
    display: inline-block;
    height: 10px;
    margin-right: 9px;
    position: relative;
    top: 2px;
    width: 10px;
  }

  a.on .checkbox:after {
    color: $rbn_outer_color_b;
    content: "\02713";
    font-size: 33px;
    left: -1px;
    line-height: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;

    @include icon-font;
  }

  .no-touch & a:hover .checkbox,
  a.drag-target .checkbox {
    border-color: rgba(white, .275);
  }

  .no-touch & a:hover .checkbox:after,
  a.drag-target .checkbox:after {
    color: $orange;
  }
}



//
//  Alterations
//
.tooltip.inverse {
  .arrow {
    border-bottom: 0;
    border-top: 5px solid white;
    bottom: -5px;
    top: auto;
  }
}


.tooltip.grey {
  .arrow {
    border-bottom-color: $rbn_button_text_color;
  }

  &.inverse .arrow {
    border-top-color: $rbn_button_text_color;
  }

  .group {
    background-color: $rbn_button_text_color;
  }

  a {
    color: darken($rbn_button_text_color, 42.5);
  }

  .no-touch & a:hover,
  a.drag-target {
    color: white;
  }
}


.tooltip.subtle-green {
  .arrow {
    border-bottom-color: desaturate(darken($less_subtle_green, 10), 12.5);
  }

  .group {
    background-color: desaturate(darken($less_subtle_green, 10), 12.5);
  }

  a {
    color: white;
  }

  .no-touch & a:hover,
  a.drag-target {
    background-color: desaturate(darken($less_subtle_green, 25), 12.5);
    color: white;
  }
}
