/*

  Components / Modal

*/

.modal {
  display: none;
  z-index: 10;

  @include stretch_fixed;

  .background {
    background: rgba(black, 0.6);
    cursor: pointer;
    z-index: 0;

    @include stretch;
  }

  .window {
    display: -webkit-flex;
    height: 450px;
    left: 50%;
    margin: -225px 0 0 -400px;
    position: absolute;
    top: 50%;
    width: 800px;
    z-index: 1;

    -webkit-flex-direction: column;
  }

  // header
  header {
    overflow: hidden;

    @include background-image(
      linear-gradient(lighten(#757a80, 3%), darken(#4b4e52, 3%))
    );
  }

  header .box {
    color: #b6babf;
    font-size: 16px;
    height: 47px;
    line-height: 50px;
    margin: 1px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    @include sourcesanspro-font;
    @include background-image(
      linear-gradient(#6c7075, #595d61)
    );
  }

  header .close-button {
    background: $red;
    bottom: 0;
    cursor: pointer;
    height: 14px;
    margin-top: -7px;
    position: absolute;
    right: 17px;
    top: 50%;
    width: 14px;

    @include border-radius(50%);
  }

  // section
  section {
    background: white;

    -webkit-flex: 1;
  }


}
