/*

  Components / Modal

*/

.modal {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  .background {
    background: rgba(#000, 0.6);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }

  .window {
    display: -webkit-flex;
    height: 450px;
    left: 50%;
    margin: -225px 0 0 -400px;
    position: absolute;
    top: 50%;
    width: 800px;
    z-index: 1;

    -webkit-flex-direction: column;
  }

  // header
  header {
    overflow: hidden;

    @include background-image(
      linear-gradient(lighten(#757a80, 3%), darken(#4b4e52, 3%))
    );
  }

  header .box {
    color: #b6babf;
    font-size: 16px;
    font-weight: 100;
    height: 47px;
    line-height: 50px;
    margin: 1px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    @include sourcesanspro-font;
    @include background-image(
      linear-gradient(#6c7075, #595d61)
    );
  }

  header .close-button {
    background: darken(#595d61, 15%);
    border: 1px solid rgba(black, .075);
    bottom: 0;
    color: white;
    cursor: pointer;
    font-size: 29px;
    height: 17px;
    line-height: 16px;
    margin-top: -8px;
    position: absolute;
    right: 16px;
    text-align: center;
    top: 50%;
    width: 17px;

    @include border-radius(3px);
  }

  // section
  section {
    background: white;

    -webkit-flex: 1;
  }
}
