/*

  Components / Tooltip

*/

.tooltip {
  color: white;
  font-size: 11px;
  position: absolute;
  right: -13px;
  top: 49px;
  width: 166px;
  z-index: 99;

  @include sourcesanspro-font;
  // @include single-box-shadow(rgba($rbn_input_color_a, .125), 0, 3px, 6px, 1px);

  @include box-shadow(
    0px 2px 0px 1px rgba(black, 0.05),
    0px 1px 6px 1px rgba(black, 0.125)
  );

  &.hidden {
    display: none;
  }

  // arrow
  .arrow {
    border-bottom: 5px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: block;
    height: 0;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    top: -5px;
    width: 0;
  }

  // group
  .group {
    background: white;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(black, .05);
    }
  }

  .group:last-child {
    z-index: 0;
  }

  // group label
  .group-label {
    background: $rbn_button_text_color;
    color: lighten($rbn_button_text_color, 24);
    font-size: 10px;
    line-height: 12px;
    margin-top: -1px;
    padding: 6px 11px 4px;
    position: relative;
    text-transform: uppercase;
    z-index: 9;

    span {
      color: darken($rbn_button_text_color, 19);
      display: inline-block;
      margin-left: 3px;
    }
  }

  // buttons
  a {
    border-bottom: 1px solid rgba(black, .03);
    color: darken(desaturate($rbn_button_text_color, 5%), 20%);
    cursor: pointer;
    display: block;
    line-height: 24px;
    padding: 6px 11px 2px;
    text-decoration: none;
  }

  a:hover {
    background: $rbn_outer_color_a;
    color: white;
  }

  // checkbox
  .checkbox {
    border: 1px solid rgba(black, .125);
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    position: relative;
    top: 2px;
    width: 10px;

    @include border-radius(3px);
  }

  a.on .checkbox:after {
    color: $orange;
    content: "\02713";
    font-size: 33px;
    left: -1px;
    line-height: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;

    @include icon-font;
  }

  a:hover .checkbox {
    border-color: rgba(white, .275);
  }


}
