/
  **************************************
  *** Message center
  ***
#message-center



script#message_template type="text/x-handlebars-template"
  | {{#if_has_icon}}<i class="{{icon_type}}"></i>{{/if_has_icon}}
    {{text}}
