/*

  Browser not supported

*/

.mod-browser-not-supported {
  background: black;
  color: #444;
  font-size: 15px;
  line-height: 24px;

  @include stretch_fixed;
  @include lato-font;

  .background {
    background: transparent image-url("bns-background.png") center top;
    background-size: cover;
    z-index: 1;

    @include opacity(0.45);
    @include stretch;
  }

  .content {
    background: white;
    left: 50%;
    margin-left: -230px - 34;
    padding: 35px 33px;
    position: absolute;
    top: 25%;
    width: 460px;
    z-index: 2;
  }

  .content h2 {
    margin-top: 0.25em;
  }

  .content p {
    margin: 0 0 20px;
    width: 90%;
  }

  .content p a {
    color: $blue_2;
  }


}
