/*

  Browser not supported

*/

.mod-browser-not-supported {
  background: black;
  color: #444;
  font-size: 16px;
  line-height: 26px;

  @include stretch_fixed;
  @include lato-font;

  .background {
    background: transparent image-url("bns-background.jpg") center top;
    background-size: cover;
    z-index: 1;

    @include opacity(0.45);
    @include stretch;
  }

  .content {
    background: white;
    left: 50%;
    margin-left: -230px - 34;
    padding: 36px 34px;
    position: absolute;
    top: 25%;
    width: 460px;
    z-index: 2;
  }

  .content p {
    margin: 0 0 20px;
    width: 90%;
  }

  .content p.bold {
    font-weight: bolder;
  }


}
