/*

  Message Center

*/

.mod-message-center {
  margin-bottom: 50px;
  margin-top: 26px;

  @include font-smoothing;
  @include sansserif-font;

  .message {
    border: 1px dashed rgba(#fff, .17);
    color: rgba(#fff, .6);
    display: none;
    font-size: 11px;
    line-height: 21px;
    margin-bottom: 4px;
    padding: 13px 16px 12px;
    position: relative;

    & > div { display: none }
  }

  .message:not(.loading) {
    cursor: pointer;
  }

  i {
    background-position: center bottom;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    margin-right: 9px;
    opacity: .8;
    position: relative;
    top: 4px;
    width: 16px;
  }

  .message .icon[data-icon] {
    font-size: 23px;
    line-height: 14px;
    margin-right: 6px;
    position: relative;
    top: 2px;
  }

  // loading
  .message.loading {
    padding-left: 43px;
  }

  .message.loading > div {
    bottom: 0;
    display: block;
    left: 17px;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 16px;
  }

  // error
  .message.error {
    border-color: $red;
    color: $red;
  }


}
