/*

  Playlist menu

*/

.mod-playlist-menu {
  background: white;
  border-left: 1px solid #eee;
  bottom: 0;
  position: absolute;
  right: -251px;
  top: 0;
  width: 250px;
  z-index: 99;

  @include transition(
    right 350ms
  );

  &.visible {
    right: 0;
  }

  //
  //  Playlists
  //
  .playlists {
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 0;
  }

  .playlists .playlist {
    border-bottom: 1px solid #f4f4f4;
    padding: 6px 9px;
  }


}
