/*

  Playlist menu

*/

.mod-playlist-menu {
  background: white;
  box-shadow: rgba($less_subtle_green, 0.3) -1px 0 20px;
  bottom: 0;
  position: absolute;
  right: -31%;
  top: 0;
  width: 31%;
  z-index: 99;

  @include flex-container;
  @include flex-stretch-vertically;
  @include sourcesanspro-font;
  @include transition(right 350ms);

  &.visible {
    right: 0;
  }

  //
  //  Add
  //
  .add-playlist {
    background-color: $less_subtle_green;
    border-bottom: 2px solid rgba(black, .15);
    padding: 11px 9px 9px;

    @include flex-container;
  }

  .add-playlist input[type="text"] {
    background-color: rgba(black, 0.1);
    border: 1px solid rgba(black, 0);
    border-radius: 2px;
    color: white;
    font-weight: bold;
    height: 20px;

    @include flex;
    @include input-placeholder {
      color: darken($less_subtle_green, 23);
    };
  }

  .add-playlist .add-button {
    background-color: rgba(black, .275);
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    margin-left: 8px;
    padding: 0 11px;

    @include button-gradient;
  }

  //
  //  Playlists
  //
  .playlists {
    color: $rbn_inner_color_b;
    font-size: 12px;
    line-height: 14px;
    overflow-y: scroll;

    @include flex;
  }

  .playlists .playlist {
    border-bottom: 1px solid rgba($less_subtle_green, .1);
    cursor: pointer;
    overflow: hidden;
    padding: 0 12px 0 36px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .playlists .playlist.selected {
    background-color: desaturate(darken($less_subtle_green, 22.5), 12.5);
    border-bottom-color: desaturate(darken($less_subtle_green, 22.5), 12.5);
    color: white;
  }

  .playlists .playlist.drag-target {
    background-color: darken($subtle_green, 15);
    border-bottom-color: darken($subtle_green, 15);

    &, .icon {
      color: white;
    }
  }

  .playlists .playlist .icon {
    color: #bbb;
    font-size: 27px;
    left: 12px;
    line-height: 20px;
    pointer-events: none;
    position: absolute;
    top: 11px;

    @include icon-font;
  }

  .playlists .playlist .name {
    display: block;
    padding: 13px 0 11px;
    pointer-events: none;
  }

  .playlists .playlist .name:focus {
    outline: none;
  }

  .playlists .playlist .name[contenteditable="true"] {
    pointer-events: auto;
  }


}
