/*

  Record Box

*/

.mod-record-box {
  box-shadow: 0 0 30px 0 rgba(black, .24);
  margin-left: $controller_width + $body_margin;
  min-width: 493px;

  @include flex-container;
  @include flex-stretch-vertically;
  @include flex;


}
