/*

  Record Box

*/

.mod-record-box {
  box-shadow: 0 0 30px 0 rgba(black, .24);
  display: -webkit-flex;
  margin-left: $controller_width + $body_margin;
  min-width: 493px;

  -webkit-flex: 1;
  -webkit-flex-direction: column;


}
