/*

  Search menu

*/

.mod-search-menu {
  width: 166px * 1.52;

  .group {
    overflow: hidden;
  }

  form {
    margin: 12px 12px 11px;
  }

  //
  //  Row
  //
  .row {
    display: -webkit-flex;
  }

  input[type="text"] {
    background: rgba($less_subtle_blue, .1);
    border: 1px solid rgba($less_subtle_blue, .125);
    color: darken($less_subtle_blue, 15);
    display: inline-block;
    margin: 0;

    -webkit-flex: 1;
    -webkit-order: 1;

    @include box-sizing(border-box);
    @include input-placeholder {
      color: rgba($less_subtle_blue, .425);
      font-size: 12px;
    };
  }

  .actions {
    color: rgba(white, .75);
    margin-left: 8px;
    text-align: center;

    -webkit-order: 2;

    @include sansserif-font;

    div {
      background: $subtle_blue;
      cursor: pointer;
      float: left;
      font-size: 14px;
      height: 32px;
      line-height: 32px;
      overflow: hidden;
      width: 29px;
    }

    div:last-child {
      border-left: 1px solid rgba(black, .125);
    }

    div.active,
    div:hover {
      background-color: $blue_2;
      border-color: rgba(black, .275);
    }
  }

  //
  //  Submit
  //
  .submit {
    background: $less_subtle_blue;
    color: rgba(white, .725);
    cursor: pointer;
    display: block;
    font-size: 12px;
    line-height: 20px;
    margin: 7px 0 0;
    padding: 8px 0 6px;
    text-align: center;

    @include lato-font;

    &:hover {
      background-color: $blue_2;
    }
  }

  //
  //  Note (TODO)
  //
  .note {
    color: #999;
    font-size: 11px;
  }


}
