/*

  Search menu

*/

.mod-search-menu {
  width: 166px * 1.52;

  .group {
    overflow: hidden;
  }

  form {
    margin: 12px 12px 11px;
  }

  //
  //  Row
  //
  .row {
    @include flex-container;
    @include flex;
  }

  input[type="text"] {
    background: transparent;
    border: 1px solid rgba($less_subtle_blue, .175);
    border-radius: 2px;
    color: $subtle_blue;
    display: inline-block;
    margin: 0;

    @include flex-order(1);
    @include flex;

    @include box-sizing(border-box);
    @include input-placeholder {
      color: rgba($less_subtle_blue, .365);
      font-size: 12px;
    };
  }

  .actions {
    color: rgba($less_subtle_blue, .825);
    margin-left: 8px;
    text-align: center;

    @include flex-order(2);
    @include sansserif-font;

    div {
      border: 1px solid rgba($less_subtle_blue, .175);
      cursor: pointer;
      float: left;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      overflow: hidden;
      width: 28px;
    }

    div:first-child {
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
    }

    div:last-child {
      border-left: 0;
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
      &.active,
      &:hover {
        border-left: 1px solid $blue;
        margin-left: -1px;
      }
    }

    div.active,
    div:hover {
      border-color: $blue;
      color: $blue;
    }
  }

  //
  //  Submit
  //
  .submit {
    background: $subtle_blue;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 12px;
    line-height: 20px;
    margin: 7px 0 0;
    padding: 10px 0 8px;
    text-align: center;

    @include lato-font;
  }

  //
  //  Note (TODO)
  //
  .note {
    color: #999;
    font-size: 11px;
  }


}
