/*

  Source Manager
  (modal instance)

*/

.mod-source-manager .window {
  visibility: hidden;
  &.shown { visibility: visible }
}


//
//  Toolbar
//
.mod-source-manager .toolbar {
  background: #fafafa;
  border-top: 1px solid #f0f0f0;
  box-shadow: 0 -3px 0 0 #fcfcfc;
  padding: 17px;

  a {
    visibility: hidden;
  }
}


//
//  Source list
//
.mod-source-list {
  display: -webkit-flex;
  width: 100%;

  -webkit-flex: 1;
  -webkit-flex-direction: column;

  .sources {}

  .source {
    border-bottom: 1px solid #eee;
    padding: 18px 14px 17px;
  }
}
