/*

  Source Manager
  (modal instance)

*/

.mod-source-manager .window {
  display: none;

  &.shown {
    z-index: 2;

    @include flex-container;
  }

  .flexible {
    @include flex-container;
    @include flex-stretch-vertically;
    @include flex;
  }

  .left {
    float: left;
    width: 55%;
  }

  .right {
    float: right;
    width: 45%;
  }

  .clear {
    clear: both;
    padding-top: 3px;
  }
}


//
//  Toolbar
//
.mod-source-manager .toolbar {
  background: white;
  border-top: 1px solid #eee;
  box-shadow: 0 -3px 0 0 #f8f8f8;
  position: relative;

  a {
    border-right: 1px solid #f3f3f3;
    color: $rbn_inner_color_a;
    cursor: pointer;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 62px;
    line-height: 92px;
    padding: 0 26px;
    position: relative;

    @include transition(background-color 350ms);
  }

  .no-touch & a:hover,
  a:focus {
    background-color: $rbn_inner_color_a;
    color: white;

    @include button-gradient;
  }

  a:after {
    font-size: 44px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: -25px;
  }

  // add
  [rel="add-source"] {
    color: $green_3;
  }

  .no-touch & [rel="add-source"]:hover,
  [rel="add-source"]:focus {
    background-color: $green_3;
  }

  // refresh
  [rel="refresh-sources"].working:after {
    @include animation(full-rotation 5s infinite linear);
  }

  // close
  [rel="close-modal"] {
    border-left: 1px solid #f3f3f3;
    border-right: 0;
    color: $red_2;
    position: absolute;
    right: 0;
    top: 0;
  }

  .no-touch & [rel="close-modal"]:hover,
  [rel="close-modal"]:focus {
    background-color: $red_2;
    border-left: 0;
  }
}


//
//  Source list
//
.mod-source-list .source {
  border-bottom: 1px solid #eee;
  padding: 16px 140px 16px 67px;
  position: relative;

  // light
  .light {
    cursor: pointer;
    height: 20px;
    left: 21px;
    margin-top: -10px + 1;
    position: absolute;
    top: 50%;
    width: 20px;

    > span {
      background-color: #d7d7d7;
      border-radius: 50%;
      display: block;
      height: 10px;
      margin: 5px auto;
      width: 10px;
    }
  }

  &.activated .light > span {
    background-color: $red;
  }

  &.activated.available .light > span {
    background-color: $green_3;
  }

  [rel="type"],
  .menu {
    color: $rbn_button_text_color;
    line-height: 20px;
    margin-top: -10px + 1;
    position: absolute;
    top: 50%;
  }

  // type
  [rel="type"] {
    font-size: 12px;
    letter-spacing: 1px;
    right: 58px;
    text-transform: uppercase;
  }

  // label
  [rel="label"] {
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
  }

  // info
  [rel="info"] {
    color: #a1a1a1;
    line-height: 18px;
    margin-top: 3px;

    .seperator {
      display: inline-block;
      margin: 0 4px;
    }

    .seperator:after {
      content: "-";
    }
  }

  // menu
  .menu {
    right: 21px;
  }

  .menu a {
    cursor: pointer;
    font-size: 30px;
    position: relative;
    top: -5px;
  }
}

.mod-source-list .message {
  @include translateY(-50%);
  color: $rbn_button_text_color;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
}



//
//  Add source menu
//
.mod-add-source-menu {
  position: relative;
  text-align: center;
  z-index: 1;

  @include flex-container;

  .menu-item {
    margin: 0 auto;
    padding: 35px 30px;
    width: 194px;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    @include flex;
    @include flex-stretch-vertically;

    &:nth-child(1n+2) {
      border-left: 1px solid #eaeaea;
    }
  }

  .title {
    font-size: 19px;
    font-weight: bold;
    line-height: 20px;
  }

  p {
    color: #999;
    line-height: 20px;
    margin: 25px 0;
  }

  p a {
    color: darken($textcolor, 10);
  }

  .select-button {
    background-color: $rbn_outer_color_a;
    color: white;
    cursor: pointer;
    padding: 10px;
  }

  .select-button.disabled {
    background-color: #ccc;
    cursor: default;
  }
}



//
//  Forms
//
.mod-source-manager form {
  padding: 15px 19px;

  .field {
    float: left;
    margin-right: 5%;
    width: 42%;
  }

  label,
  input {
    display: block;
  }

  label {
    color: #999;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 3px;
    text-transform: uppercase;
  }

  input {
    margin-bottom: 9px;
  }

  input[type="text"] {
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-bottom: 5px;
    padding-top: 7px;
    width: 100%;
  }

  input[type="submit"] {
    background-color: $green_3;
    color: white;
    cursor: pointer;
    padding: 7px 28px 5px;
  }

  .title {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    margin: 5px 0 13px;
  }

  .error {
    color: $red;
    font-style: italic;
    margin-top: 13px;
  }

  .input-description {
    color: #555;
    font-size: 11px;
    font-style: italic;
  }
}
