/*

  Visualisations

*/

.mod-visualizations {
  @media screen and (max-width: $breakpoint_medium - 1px) {
    display: none;
  }


  & > div {
    margin-top: 12px;
  }

  .peak-data {
    background: transparent image-url('controller/almost_invisible_pattern.png') 0 0 repeat;
    border: 1px solid rgba(#000, .04);
    height: 73px - 2 * 11;
    overflow: hidden;
    padding: 11px 14px;

    canvas {
      display: block;
      height: 51px;
    }
  }


}
