/*

  Record Box

*/

#record-box {
  display: -webkit-flex;
  margin-left: $controller_width + $body_margin;
  min-width: 493px;

  -webkit-flex: 1;
  -webkit-flex-direction: column;

  @include single-box-shadow(rgba(black, .29), 0, 0, 30px, 0);

  //
  //  Navigation
  //
  .navigation {
    height: 52px;

    @include background-image(
      linear-gradient($rbn_outer_color_a, $rbn_outer_color_b)
    );

    // general
    & > nav {
      display: -webkit-flex;
      height: 50px;
      margin: 0 1px;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      top: 1px;

      @include background-image(
        linear-gradient($rbn_inner_color_a, $rbn_inner_color_b)
      );
    }

    .button, .input-wrap {
      border: 1px solid $rbn_item_border_color;
      height: 25px;
      margin-top: (50px / 2) - (26px / 2);

      @include single-box-shadow(
        $rbn_item_shadow_color, 0, 1px, 3px, 0, "inset"
      );
    }

    // button
    .button {
      cursor: pointer;
      margin-left: 5px;

      -webkit-order: 3;

      @include background-image(
        linear-gradient($rbn_button_color_a, $rbn_button_color_b)
      );

      &, .icon {
        width: 34px;
      }

      .icon {
        color: $rbn_button_text_color;
        font-size: 28px;
        height: 25px;
        line-height: 20px;
        overflow: hidden;
        text-align: center;

        @include transition-duration(450ms);
        @include transition-property(box-shadow color);
      }

      &:active,
      &.on { border-bottom-color: $rbn_button_active_border_color }

      &.on .icon {
        color: lighten($rbn_button_text_color, 10.25%);
        @include single-box-shadow(
          rgba(white, .2), 0, 0, 32px, -2px
        );
      }
    }

    // button - toggle favourites
    .button.toggle-favourites {
      .icon { font-size: 26px }
    }

    // button - toggle user menu
    .button.toggle-user-menu {
      .icon { font-size: 25px }
      .tooltip-data { display: none }
    }

    // input
    .input-wrap {
      position: relative;

      @include background-image(
        linear-gradient($rbn_input_color_a, $rbn_input_color_b)
      );

      .icon {
        color: $rbn_inner_color_a;
        font-size: 27px;
        height: 16px;
        line-height: 8px;
        margin-top: -7px;
        position: absolute;
        right: 6px;
        text-align: center;
        top: 50%;
        width: 16px;
        z-index: 1;

        @include background-size(80%);
      }

      &, input, select {
        overflow: hidden;
      }
    }

    input, select {
      background: none;
      border: none;
      color: $rbn_button_text_color;
      display: block;
      font-size: 11px;
      font-weight: bold;
      height: 25px;
      padding: 0 34px 0 7px;
      width: 100%;
      z-index: 0;

      @include appearance(none);
      @include box-sizing(border-box);

      &:focus {
        outline: none;
      }
    }

    input {
      line-height: normal;
      @include input-placeholder($rbn_inner_color_a);
    }

    select {
      line-height: 26px;
    }

    .input-wrap.sort-by {
      margin-left: 5px;
      width: 29%;
      -webkit-order: 2;
    }

    .input-wrap.search {
      width: auto;
      -webkit-flex: 1;
      -webkit-order: 1;
    }
  }


  //
  //  List
  //
  .list {
    background: #e3e3e3;
    display: -webkit-flex;

    -webkit-flex: 1;
    -webkit-flex-direction: column;

    header, .track {
      overflow: hidden;

      .favourite, .title, .artist, .album { float: left }
      .favourite { width: 10px + 7 + 12 }
      .title  { width: 38% }
      .artist { width: 28% }
      .album  { width: 28% }

      span { display: block; padding: 0 7px }
      .favourite span { padding-left: 10px }
      .album span { padding-right: 10px }
    }
  }


  //
  //  List - Header
  //
  .list header {
    border: 1px solid #e3e3e3;
    border-bottom: 1px solid #f0f0f0;
    border-top: none;
    color: #aaa;
    font-size: 10px;
    font-weight: bold;
    height: 24px;
    line-height: 27px;

    @include background-image(linear-gradient(#fff, #fafafa));
    @include lato-font;

    span { border-right: 1px solid #f0f0f0 }
    div { @include single-box-shadow(rgba(white, 1), 0, 0, 0, 1px, "inset") }
    div:last-child span { border-right: none }
  }


  //
  //  List - Tracks
  //
  .list .tracks-wrapper {
    min-height: 0;
    overflow-y: scroll;
    position: relative;

    -webkit-overflow-scrolling: touch;
    -webkit-flex: 1;
  }

  .list .tracks {
    background: white;
    font-size: 11px;
    font-weight: 400;
    list-style-type: none;
    margin: 0 1px;
    position: relative;
    z-index: 1;

    @include sourcesanspro-font;
  }

  .list .track {
    color: lighten(#4a4a4a, 10%);
    cursor: pointer;
    height: 26px;
    line-height: 28px;
    white-space: nowrap;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    // alt. row
    &:nth-child(2n) {
      background-color: #fbfbfb;
    }

    // playing
    &.playing:not(.queue-item) {
      background-color: $rbn_button_text_color;
      margin: 0 -1px;

      & > div { color: darken($rbn_inner_color_a, 12%) }
      .favourite { color: darken($rbn_button_text_color, 7%) }

      .favourite[data-favourite="true"],
      .favourite:hover { color: darken($rbn_inner_color_a, 4.75%) !important }
    }

    // unavailable & queue-item
    &.unavailable,
    &.queue-item:not(.user-selected) {
      color: #999;
    }

    // drag target
    &.drag-target {
      border-top: 1px solid lighten($rbn_button_text_color, 11.5%);
    }

    // favourite (star)
    .favourite {
      color: #ececec;
      cursor: pointer;
      font-size: 26px;
      line-height: 26px;

      -webkit-font-smoothing: antialiased;

      @include icon-font;

      &[data-favourite="true"] { color: $yellow }
    }
  }


  //
  //  List - Track groups
  //
  .list .group {
    background: rgba(#757a80, .125);
    border-bottom: 1px solid rgba(black, .0225);
    border-top: 1px solid rgba(black, .04);
    color: rgba(#44464A, .425);
    font-size: 11px;
    font-weight: bold;
    height: 38px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;

    -webkit-font-smoothing: antialiased;

    @include sansserif-font;
  }


  //
  //  List - Messages
  //
  .list .message {
    color: #838383;
    font-size: 12px;
    left: 30px;
    margin-top: -(56px / 2);
    position: absolute;
    right: 30px;
    text-align: center;
    top: 50%;
    z-index: 1;

    @include sourcesanspro-font;

    .title {
      color: #b9b9b9;
      font-size: 22px;
      font-weight: 100;
      line-height: 24px;
      text-transform: uppercase;

      -webkit-font-smoothing: antialiased;
    }

    p {
      margin: 8px 0;
    }
  }

  .list .loading {
    margin-top: 0;
    top: 47%;

    & > span {
      display: inline-block;
      position: relative;
      padding-left: 20px;
    }

    .animation {
      left: 0;
      margin-top: -1px;
      position: absolute;
      top: 50%;
      width: 16px;
    }
  }


  //
  //  List - Background
  //
  .list .background {
    background: white;
    bottom: 0;
    left: 1px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: 0;
  }


  //
  //  Footer
  //
  footer {
    border-top: 1px solid $rbf_border_top_color;
    color: darken($rbn_button_text_color, 9%);
    font-size: 9px;
    font-weight: bold;
    padding: 1px;
    position: relative;
    text-align: center;

    -webkit-font-smoothing: antialiased;

    @include background-image(
      linear-gradient($rbf_outer_color_a, $rbf_outer_color_b)
    );

    .intestines {
      height: 24px;
      line-height: 24px;
      padding: 0 10px;
      text-transform: uppercase;

      @include background-image(
        linear-gradient($rbf_inner_color_a, $rbf_inner_color_b)
      );
    }

    .page-nav {
      font-size: 37px;
      height: 24px;
      left: 9px;
      overflow: hidden;
      position: absolute;
      text-align: left;
      top: 1px;
      width: 25%;
    }

    .page-nav a {
      background-position: center;
      background-repeat: no-repeat;
      color: $rbn_button_text_color;
      cursor: pointer;
      float: left;
      height: 24px;
      line-height: 14px;
      margin-right: 3px;
      overflow: hidden;
      width: 16px;
    }

    .page-nav a.disabled {
      cursor: default;
      opacity: .45;
    }
  }


}
