/*

  Source Manager
  (modal instance)

*/

#source-manager .window {
  visibility: hidden;

  &.shown { visibility: visible }
}


//
//  Toolbar
//
#source-manager .toolbar {
  background: #ebebeb;
  border-bottom: 1px solid #f8f8f8;
  padding: 10px 11px 8px;

  @include sourcesanspro-font;
  @include single-box-shadow(#ddd, 0, 1px, 0, 0);

  a {
    background: #222;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin-right: 7px;
    padding: 6px 10px 5px;

    @include border-radius(3px);
  }

  a.add { background: #31be67 }
}


//
//  Source list
//
#source-list {
  width: 100%;

  td {
    border-bottom: 1px solid #eee;
    padding: 14px 0;
  }

  td:first-child {
    text-align: center;
    width: 74px;
  }

  input[type="checkbox"] {
    display: inline-block;
  }
}
