/*

  Record Box — Navigation

*/

#record-box .navigation {
  padding: 1px;

  @include background-image(
    linear-gradient($rbn_outer_color_a, $rbn_outer_color_b)
  );

  & > nav {
    display: -webkit-flex;
    padding-left: 10px;
    padding-right: 10px;

    @include background-image(
      linear-gradient($rbn_inner_color_a, $rbn_inner_color_b)
    );
  }

  //
  //  General
  //
  .button, .filter {
    border: 1px solid $rbn_item_border_color;
    height: 27px;
    margin: 11px 0;

    @include single-box-shadow(
      $rbn_item_shadow_color, 0, 1px, 3px, 0, "inset"
    );
  }

  //
  //  Button
  //
  .button {
    cursor: pointer;
    margin-left: 5px;

    -webkit-order: 2;

    @include background-image(
      linear-gradient($rbn_button_color_a, $rbn_button_color_b)
    );

    &, .icon {
      width: 34px;
    }
  }

  .button:active,
  .button.on { border-bottom-color: $rbn_button_active_border_color }

  .button.on .icon {
    color: lighten($rbn_button_text_color, 10.25%);
    @include single-box-shadow(rgba(white, .375), 0, 0, 32px, -2px);
  }

  .button .icon {
    color: $rbn_button_text_color;
    font-size: 30px;
    height: 27px;
    line-height: 22px;
    overflow: hidden;
    text-align: center;

    @include transition-duration(450ms);
    @include transition-property(box-shadow color);
  }

  .button.toggle-queue {
    .icon { font-size: 24px }
  }


}


//
//  Filter
//
.filter {
  color: $rbn_inner_color_a;
  font-size: 9px;
  font-weight: bold;
  line-height: 28px;
  overflow: hidden;
  position: relative;
  width: auto;

  -webkit-flex: 1;
  -webkit-order: 1;

  @include lato-font;
  @include background-image(
    linear-gradient($rbn_input_color_a, $rbn_input_color_b)
  );

  // general - containers
  .box,
  .add-buttons {
    height: 100%;
  }

  .box {
    float: left;
    padding-left: 2px;
  }

  .add-buttons {
    float: right;
    padding-right: 2px;
    text-align: right;
  }

  // general - content
  a {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
  }

  // add buttons
  .add-button {
    background: rgba($rbn_inner_color_a, .65);
    color: rgba(white, .425);
    cursor: pointer;
    font-size: 23px;
    height: 23px;
    line-height: 18px;
    margin-left: 2px;
    margin-top: 2px;
    padding: 0 11px;
    position: relative;
    text-align: center;
    width: 13px;

    @include background-image(
      linear-gradient(rgba(black, 0), $rbn_button_color_b_alt)
    );
  }

  .add-button:hover {
    background-color: saturate($bgcolor, 5);
    color: rgba(white, .725);
  }

  // items
  .item {
    background: rgba($rbn_inner_color_a, .325);
    color: rgba(white, .7);
    cursor: pointer;
    line-height: 14px;
    margin-right: 2px;
    margin-top: 2px;
    padding: 6px 12px 3px 23px;
    text-transform: uppercase;

    @include background-image(
      linear-gradient(rgba(black, 0), $rbn_button_color_b_alt)
    );
  }

  .item .icon {
    color: rgba(white, .5);
    display: inline-block;
    font-size: 23px;
    left: 7px;
    position: absolute;
    top: 2px;
  }

  .item .icon.close {
    display: none;
  }

  .item:hover {
    background-color: saturate($bgcolor, 5);
    color: white;
  }

  .item:hover .icon {
    color: rgba(white, .8);
    display: none;
    &.close { display: block }
  }

  .item .keyword {
    color: rgba(white, 0.25);
    display: inline-block;
    margin-right: 3px;
  }

  // filter - playlist
  .add-button.playlist,
  .item.playlist .icon {
    font-size: 26px;
  }

  .add-button.playlist,
  .item.playlist {
    background-color: $subtle_green;
  }

  .add-button.playlist:hover,
  .item.playlist:hover {
    background-color: mix($rbn_inner_color_a, $green_3, 65);
  }

  // filter - search
  .add-button.search,
  .item.search {
    background-color: $subtle_blue;
  }

  .add-button.search:hover,
  .item.search:hover {
    background-color: mix($rbn_inner_color_a, $blue_2, 65);
  }

  // filter - favourites
  .add-button.favourites,
  .item.favourites .icon {
    font-size: 24px;
  }

  .add-button.favourites,
  .item.favourites {
    background-color: $subtle_red;
  }

  .add-button.favourites:hover,
  .item.favourites:hover {
    background-color: mix($rbn_inner_color_a, $red_2, 65);
  }


}
