/*

  Record Box — Navigation

*/

.mod-record-box .navigation {
  padding: 1px;

  @include background-image(
    linear-gradient($rbn_outer_color_a, $rbn_outer_color_b)
  );

  & > nav {
    padding-left: 10px;
    padding-right: 10px;

    @include flex-container;
    @include background-image(
      linear-gradient($rbn_inner_color_a, $rbn_inner_color_b)
    );
  }

  //
  //  General
  //
  .button, .filter {
    border: 1px solid $rbn_item_border_color;
    height: 27px;
    margin: 11px 0;

    @include single-box-shadow(
      $rbn_item_shadow_color, 0, 1px, 3px, 0, "inset"
    );
  }

  //
  //  Button
  //
  .button {
    cursor: pointer;
    margin-left: 5px;

    @include flex-order(2);
    @include background-image(
      linear-gradient($rbn_button_color_a, $rbn_button_color_b)
    );

    &, .icon {
      width: 34px;
    }
  }

  .button:active,
  .button.on { border-bottom-color: $rbn_button_active_border_color }

  .button.on .icon {
    color: lighten($rbn_button_text_color, 10.25%);
    @include single-box-shadow(rgba(white, .375), 0, 0, 32px, -2px);
  }

  .button .icon {
    color: $rbn_button_text_color;
    font-size: 30px;
    height: 27px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;

    @include transition-duration(450ms);
    @include transition-property(box-shadow color);
  }

  .button.toggle-queue {
    .icon { font-size: 23px; line-height: 22px; }
  }


}


//
//  Filter
//
.filter {
  color: darken($rbn_inner_color_a, 10);
  font-size: 10px;
  font-weight: bold;
  line-height: 28px;
  overflow: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  width: auto;

  @include flex-container;
  @include flex-order(1);
  @include flex;

  @include lato-font;
  @include background-image(
    linear-gradient($rbn_input_color_a, $rbn_input_color_b)
  );

  // empty state
  .empty-state {
    display: none;

    @media screen and (max-width: $breakpoint_small - 1px) {
      display: none !important;
    }

    @media screen and (min-width: $breakpoint_small) {
      left: 8px;
      letter-spacing: 1px;
      line-height: 30px;
      position: absolute;
      text-transform: uppercase;
      top: 0;
      z-index: 0;
    }
  }

  &.is-empty .empty-state {
    display: block;
  }

  &.is-empty.is-using-extra-search-field .empty-state {
    display: none;
  }

  // general - containers
  .box, .extra-search-field, .add-buttons {
    height: 100%;
  }

  .box {
    height: 200%;
    max-width: 60%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 2px;

    @include flex-order(1);
  }

  .box .show-more-button {
    background: rgba(saturate(lighten($rbn_inner_color_a, 5), 7.5), .85);
    color: rgba(saturate(lighten($rbn_inner_color_a, 25), 7.5), .85);
    cursor: pointer;
    font-size: 18px;
    height: 14px;
    line-height: 16px;
    margin-right: 2px;
    margin-top: 2px;
    opacity: 0;
    overflow: hidden;
    padding: 5px 11px 4px 12px;
    text-transform: uppercase;

    @include button-gradient;
    @include icon-font;
    @include transition(opacity 125ms ease);
  }

  .box.visible .show-more-button {
    opacity: 1;
  }

  .extra-search-field {
    position: relative;
    z-index: 1;

    @include flex-order(2);
    @include flex;

    @media screen and (min-width: $breakpoint_small) {
      min-width: 70px;
    }
  }

  .add-buttons {
    padding-right: 2px;
    text-align: right;
    width: 112px;

    @include flex-order(3);
  }

  // extra search box
  .extra-search-field input {
    background: none;
    box-sizing: border-box;
    bottom: 4px;
    color: rgba(white, .7);
    left: 0;
    padding: 0 5px;
    position: absolute;
    top: 5px;
    width: 100%;
  }

  // general - content
  a {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
  }

  // add buttons
  .add-button {
    background: rgba($rbn_inner_color_a, .85);
    color: rgba(white, .425);
    cursor: pointer;
    font-size: 23px;
    height: 23px;
    line-height: 18px;
    margin-left: 2px;
    margin-top: 2px;
    padding: 0 11px;
    position: relative;
    text-align: center;
    width: 13px;

    @include button-gradient;
  }

  .no-touch & .add-button:hover,
  .add-button.active {
    background-color: saturate($bgcolor, 5);
    color: rgba(white, .725);
  }

  // items
  .item {
    background: rgba($rbn_inner_color_a, .85);
    color: rgba(white, .7);
    cursor: pointer;
    height: 14px;
    line-height: 14px;
    margin-right: 2px;
    margin-top: 2px;
    opacity: 0;
    overflow: hidden;
    padding: 5px 12px 4px 24px;
    text-transform: uppercase;

    @include button-gradient;
    @include transition(opacity 125ms ease);
  }

  .box.visible .item {
    opacity: 1;
  }

  .item .icon {
    color: rgba(white, .5);
    display: inline-block;
    font-size: 23px;
    left: 7px;
    position: absolute;
    top: 2px;
  }

  .item .icon.close {
    display: none;
  }

  .no-touch & .item:hover {
    background-color: saturate($bgcolor, 5);
    color: white;
  }

  .no-touch & .item:hover .icon {
    color: rgba(white, .8);
    display: none;
    &.close { display: block }
  }

  .item .keyword {
    color: rgba(white, 0.25);
    display: inline-block;
    margin-right: 3px;
    vertical-align: top;
  }

  .item .text {
    display: inline-block;
    max-width: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
  }

  // filter - playlist
  .add-button.playlist,
  .item.playlist .icon {
    font-size: 26px;
  }

  .no-touch & .add-button.playlist:hover,
  .no-touch & .item.playlist:hover,
  .add-button.playlist.active {
    background-color: $less_subtle_green;
  }

  // filter - favourites
  .no-touch & .add-button.favourites:hover,
  .no-touch & .item.favourites:hover {
    background-color: $less_subtle_yellow;
  }

  // filter - search
  .no-touch & .add-button.search:hover,
  .no-touch & .item.search:hover,
  .add-button.search.active, {
    background-color: $less_subtle_blue;
  }


}
