// font mixins
@mixin sansserif-font {
  font-family: "Helvetica Neue", sans-serif;
}

@mixin lato-font {
  font-family: "Lato", sans-serif;
}

@mixin sourcesanspro-font {
  font-family: "Source Sans Pro", sans-serif;
}

@mixin icon-font {
  font-family: "entypo";
  -webkit-font-smoothing: antialiased;
}

// flex mixins
@mixin flex-container {
  display: -webkit-flex;
  display: flex;
}

@mixin flex-stretch-vertically {
  -webkit-flex-direction: column;
  flex-direction: column;
}

@mixin flex-order($number) {
  -webkit-order: $number;
  order: $number;
}

@mixin flex {
  -webkit-flex: 1;
  flex: 1;
}

// other mixins
@mixin stretch {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin stretch_fixed {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

@mixin disable-user-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin input-placeholder-color($color) {
  @include input-placeholder { color: $color }
}

@mixin input-placeholder {
  &:-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
}

@mixin button-gradient {
  @include background-image(
    linear-gradient(rgba(black, 0), $rbn_button_color_b_alt)
  );
}
