/*

  Helpers

*/

// colors
$red: #E0676C;
$green: #BCF865;
$blue: #00CCFF;
$yellow: #FBB829;
$yellow_2: #FCEB29;

$bgcolor_1: #644E74;
$bgcolor_2: #724562;
$bgcolor_3: #944D5D;


// mixins
@mixin default-font {
  font-family: 'Helvetica Neue', 'Lato', sans-serif;
}

@mixin lato-font {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
}

@mixin sourcesanspro-font {
  font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
}

@mixin ostrich-font {
  font-family: 'Ostrich Sans', sans-serif;
}

@mixin icon-font {
  font-family: 'IcoMoon';
}

@mixin disable-user-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin input-placeholder($color) {
  &:-moz-placeholder { color: $color }
  &::-webkit-input-placeholder { color: $color }
}
