/*

  Helpers

*/

// colors
$blue: #00CCFF;
$red: #E0676C;
$yellow: #FBB829;


// mixins
@mixin default-font {
  font-family: 'Helvetica Neue', 'Lato', sans-serif;
}

@mixin lato-font {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
}

@mixin ptsans-font {
  font-family: 'PT_Sans', 'PT Sans', 'Lato', 'Helvetica Neue', sans-serif;
}

@mixin ostrich-font {
  font-family: 'Ostrich_Sans', sans-serif;
}

@mixin icon-font {
  font-family: 'IcoMoon';
}

@mixin disable-user-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin input-placeholder($color) {
  &:-moz-placeholder { color: $color }
  &::-webkit-input-placeholder { color: $color } 
}