.scrollbar-pane { width: 100% }

.scrollbar-handle-container {
  bottom: 6px   !important;
  height: auto  !important;
  right: 4px    !important;
  top: 6px      !important;
  width: 7px;
}

.scrollbar-handle {
  width: 7px;
  background: #bcbcbc;

  @include border-radius(3px);

  &:hover { background: #6c7075 }
  &.move  { background: #595d61 }
}
