/*

  Base

*/

$body_margin: 50px;
$controller_width: 321px;
$record_box_min_width: 493px;



body {
  background: $bgcolor image-url("background.png") 0 0 repeat;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  text-rendering: optimizeLegibility;

  // @include background(
  //   image-url("background.png") 0 0 repeat,
  //   linear-gradient($bgcolor_1, $bgcolor_2, $bgcolor_3) 0 0 repeat-x
  // );

  @include lato-font;
  @include disable-user-select;

  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
}


//
//  Flex
//
html, body {
  height: 100%;
}

html, body, .wrapper {
  @media screen and (min-width: $breakpoint_small) {
    @include flex-container;
  }
}

body, .wrapper {
  @media screen and (min-width: $breakpoint_small) {
    @include flex;
  }
}


//
//  Wrapper
//
.wrapper {
  padding: 24px 22px;
  position: relative;
  z-index: 0;

  @media screen and (min-width: $breakpoint_small) {
    margin: 0 auto;
    min-width: $controller_width + $body_margin + $record_box_min_width;
    max-width: 1300px;
    padding: $body_margin;

    @include flex-stretch-vertically;
  }
}

  .wrapper aside {
    display: block;

    @media screen and (min-width: $breakpoint_small) {
      left: $body_margin;
      position: absolute;
      top: $body_margin;
      width: $controller_width;
    }
  }
