/*

  Base

*/

$body_margin: 50px;
$controller_width: 321px;



body {
  background: $bgcolor image-url("background.png") 0 0 repeat;
  font-size: 13px;
  line-height: 16px;
  margin: $body_margin;
  overflow: hidden;

  // @include background(
  //   image-url("background.png") 0 0 repeat,
  //   linear-gradient($bgcolor_1, $bgcolor_2, $bgcolor_3) 0 0 repeat-x
  // );

  @include lato-font;
  @include disable-user-select;

  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
}


//
//  Flex
//
html, body {
  min-height: 100%;
}

html, body, .wrapper {
  display: -webkit-flex;
  -webkit-flex-direction: column;
}

body, .wrapper {
  -webkit-flex: 1;
}


//
//  Wrapper
//
.wrapper {
  margin: 0 auto;
  max-width: 1300px;
  position: relative;
  width: 100%;
  z-index: 0;
}

  .wrapper aside {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: $controller_width;
  }
