/*

  General

*/

#audio-elements {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 1px;
  z-index: 0;
}

.mod-color-overlay {
  background: rgba(#F77825, .07);
  opacity: 0;
  pointer-events: none;
  z-index: 100;

  @include stretch_fixed;
}

input, textarea, select {
  border: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  padding: 6px 8px 4px;

  @include lato-font;

  &:focus {
    outline: none;
  }
}

input[type="text"], input[type="submit"], textarea {
  border-radius: 0;
  @include appearance(none);
}

.tooltip-data {
  display: none;
}

.drag-icon {
  background: transparent image-url("music-icon.svg") center no-repeat;
  height: 28px;
  pointer-events: none;
  width: 28px;
}

.feedback-button {
  background-color: black;
  color: white;
  padding: 6px 11px;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 21%;
  z-index: 1;

  @include transform-origin(right, bottom);
  @include rotate(-90deg);
}
