/*

  Base

*/

$body_margin: 50px;
$controller_width: 321px;



body {
  background: #716d85 image-url("background.png") 0 0 repeat;
  font-size: 13px;
  line-height: 16px;
  margin: $body_margin;
  overflow: hidden;

  // @include background(
  //   image-url("background.png") 0 0 repeat,
  //   linear-gradient($bgcolor_1, $bgcolor_2, $bgcolor_3) 0 0 repeat-x
  // );

  @include sans-serif-font;
  @include disable-user-select;

  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
}


//
//  Flex
//
html, body {
  min-height: 100%;
}

html, body, #wrapper {
  display: -webkit-flex;
  -webkit-flex-direction: column;
}

body, #wrapper {
  -webkit-flex: 1;
}
