body {
  @include disable-user-select;
  
  input, textarea, select { @include default-font }
}

  #wrapper aside {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: $controller_width;
  }
  
  #color-overlay {
    background: rgba(#F77825, .13);
    bottom: 0;
    display: none;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
  }
