/*

  General

*/

#audio-elements {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 1px;
  z-index: 0;
}

#color-overlay {
  background: rgba(#F77825, .11);
  opacity: 0;
  pointer-events: none;
  z-index: 100;

  @include stretch_fixed;
}

input, textarea, select {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;

  @include sansserif-font;
}
