/*

  Playlist

*/

#playlist {
  margin-left: $controller_width + $body_margin;
  min-width: 493px;

  @include single-box-shadow(rgba(#000, .41), 0, 0, 30px, 0);


  //
  //  Navigation
  //
  .navigation {
    height: 52px;

    @include background-image(
      linear-gradient(lighten(#757a80, 3%), darken(#4b4e52, 3%))
    );

    &, & > nav { overflow: hidden }
       & > nav {
      height: 50px;
      margin: 1px;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;

      @include background-image(linear-gradient(#6c7075, #595d61));
      @include display-box;
    }

    .button, .input-wrap {
      border: 1px solid #65686e;
      height: 25px;
      margin-top: 50px / 2 - 26px / 2;

      @include display-box;
      @include single-box-shadow(#2d2e30, 0, 1px, 3px, 0, 'inset');
    }

    // button
    .button {
      cursor: pointer;
      margin-left: 5px;

      @include background-image(linear-gradient(#525559, #3d3f42));
      @include box-ordinal-group(3);

      &, .icon { width: 21px }
         .icon {
        color: #b6babf;
        font-size: 14px;
        height: 25px;
        line-height: 26px;
        overflow: hidden;
        text-align: center;

        @include transition-duration(450ms);
        @include transition-property(box-shadow);
      }

      &:active,
      &.on { border-bottom-color: darken(#8d9299, 7%) }
      &.on .icon { color: lighten(#b6babf, 12%) }
    }

    // button - change sort direction
    .button.change-sort-direction {
      &.on .icon:after { content: "\0e01a" }
    }

    // button - show favourites
    .button.show-favourites {
      @include background-image(
        linear-gradient(
          darken(desaturate($yellow, 52.5%), 30.5%),
          darken(desaturate($yellow, 52.5%), 34%)
        )
      );

      .icon {
        color: desaturate($yellow, 50.5%);
        font-size: 12px;
      }

      &.on .icon {
        @include single-box-shadow(
          rgba(desaturate($yellow, 50.5%), .775), 0, 0, 32px, -2px
        );
      }
    }

    // button - show queue
    .button.show-queue {
      @include background-image(
        linear-gradient($bgcolor_2, darken($bgcolor_2, 6.5%))
      );

      .icon {
        color: lighten($bgcolor_2, 27.5%);
        font-size: 12px;
      }

      &.on .icon {
        @include single-box-shadow(
          lighten($bgcolor_2, 27.5%), 0, 0, 32px, -2px
        );
      }
    }

    // button - show source manager
    .button.show-source-manager {
      @include background-image(
        linear-gradient($bgcolor_1, darken($bgcolor_1, 6.5%))
      );

      .icon {
        color: lighten($bgcolor_1, 27.5%);
      }

      &.on .icon {
        @include single-box-shadow(
          lighten($bgcolor_1, 27.5%), 0, 0, 32px, -2px
        );
      }
    }

    // input
    .input-wrap {
      position: relative;

      @include background-image(linear-gradient(#343538, #3d3f42));

      .icon {
        background-position: center;
        background-repeat: no-repeat;
        height: 16px;
        margin-top: -7px;
        position: absolute;
        right: 6px;
        top: 50%;
        width: 16px;
        z-index: 1;

        @include background-size(80%);
      }

      &, input, select { overflow: hidden }

      &.sort-by .icon { background-image: image-url('playlist/list-ordered.png') }
      &.search .icon { background-image: image-url('playlist/magnifier.png') }
    }

    input, select {
      background: none;
      border: none;
      color: #b6babf;
      display: block;
      font-size: 11px;
      font-weight: bold;
      height: 25px;
      padding: 0 34px 0 7px;
      width: 100%;
      z-index: 0;

      -webkit-appearance: none;

      @include box-sizing(border-box);

      &:focus { outline: none }
    }

    input {
      line-height: normal;

      @include input-placeholder(#6c7075);
    }

    select {
      line-height: 26px;
    }

    .input-wrap.sort-by {
      margin-left: 5px;
      width: 29%;

      @include box-ordinal-group(2);
    }

    .input-wrap.search {
      width: auto;

      @include box-flex(1);
      @include box-ordinal-group(1);
    }
  }


  //
  //  List
  //
  .list {
    background: #fff;

    header, .track {
      overflow: hidden;

      .favourite, .title, .artist, .album { float: left }

      .favourite { width: 10px + 7 + 12 }
      .title  { width: 38% }
      .artist { width: 28% }
      .album  { width: 28% }

      span { display: block; padding: 0 7px }

      .favourite span { padding-left: 10px; @include icon-font }
      .album span { padding-right: 10px }
    }
  }


  //
  //  List - Header
  //
  .list header {
    border: 1px solid #e3e3e3;
    border-bottom: 1px solid #f0f0f0;
    border-top: none;
    color: #aaa;
    font-size: 10px;
    font-weight: bold;
    height: 24px;
    line-height: 27px;

    @include background-image(linear-gradient(#fff, #fafafa));
    @include lato-font;

    span { border-right: 1px solid #f0f0f0 }
    .album span { border: none }
  }


  //
  //  List - Tracks
  //
  .list .tracks-wrapper {
    min-height: 228px;
    overflow: auto;
    position: relative;

    &::-webkit-scrollbar { width: 0 }
  }

  .list .tracks {
    font-size: 11px;
    font-weight: 400;
    list-style-type: none;

    @include sourcesanspro-font;
  }

  .list .track {
    color: lighten(#4a4a4a, 10%);
    cursor: pointer;
    height: 26px;
    line-height: 28px;
    white-space: nowrap;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    // alt. row
    &:nth-child(2n) {
      background-color: #fbfbfb;
    }

    // playing
    &.playing:not(.queue-item) {
      background-color: $red;

      & > div { color: lighten($red, 27.5%) }
      .favourite { color: lighten($red, 13.75%) }

      .favourite[data-favourite=true],
      .favourite:hover { color: lighten($red, 27.5%) !important }
    }

    // unavailable & queue-item
    &.unavailable,
    &.queue-item {
      color: #999;
    }

    // click & hold
    &:active:not(.queue-item) {
      background: $blue;

      & > div { color: lighten($blue, 42.5%) }
      .favourite { color: lighten($blue, 21.25%) }

      .favourite[data-favourite=true],
      .favourite:hover { color: lighten($blue, 42.5%) !important }
    }

    // favourite (star)
    .favourite {
      color: rgba(#aaa, .2);
      cursor: pointer;
      font-size: 13px;
      line-height: 26px;

      &:hover,
      &[data-favourite=true] { color: $yellow }
    }
  }


  //
  //  List - Track groups
  //
  .list .group {
    background: rgba(#757a80, .125);
    border-bottom: 1px solid rgba(black, .0225);
    border-top: 1px solid rgba(black, .04);
    color: rgba(#44464A, .425);
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    letter-spacing: 2px;
    line-height: 42px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
  }


  //
  //  List - Empty
  //
  .list .nothing-here {
    background: transparent image-url('playlist/pacman-ghost.png') center no-repeat;
    position: absolute;
    height: 112px;
    left: 0;
    margin-top: -(112px / 2) - 1;
    top: 50%;
    width: 100%;

    &.hidden { display: none }
  }


  //
  //  Footer
  //
  footer {
    border-top: 1px solid #44464a;
    color: darken(#b6babf, 13%);
    font-size: 9px;
    font-weight: normal;
    padding: 1px;
    position: relative;
    text-align: center;

    @include background-image(linear-gradient(#63666b, #313336));

    .intestines {
      height: 24px;
      line-height: 24px;
      padding: 0 10px;
      text-transform: uppercase;

      @include background-image(linear-gradient(#525559, #3d3f42));
    }

    .page-nav {
      font-size: 19px;
      height: 24px;
      left: 8px;
      overflow: hidden;
      position: absolute;
      text-align: left;
      top: 1px;
      width: 25%;
    }

    .page-nav a {
      background-position: center;
      background-repeat: no-repeat;
      color: #b6babf;
      display: inline-block;
      height: 26px;
      line-height: 24px;
      margin-right: 4px;
      overflow: hidden;
      width: 16px;

      &.disabled { @include opacity(.45) }
    }
  }


}
