/*

  Record Box

*/

#record-box {
  display: -webkit-flex;
  margin-left: $controller_width + $body_margin;
  min-width: 493px;

  -webkit-flex: 1;
  -webkit-flex-direction: column;

  @include single-box-shadow(rgba(#000, .29), 0, 0, 30px, 0);

  //
  //  Navigation
  //
  .navigation {
    height: 52px;

    @include background-image(
      linear-gradient(lighten(#757a80, 3%), darken(#4b4e52, 3%))
    );

    & > nav {
      display: -webkit-flex;
      height: 50px;
      margin: 0 1px;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      top: 1px;

      @include background-image(linear-gradient(#6c7075, #595d61));
    }

    .button, .input-wrap {
      border: 1px solid #65686e;
      height: 25px;
      margin-top: 50px / 2 - 26px / 2;

      @include single-box-shadow(
        #2d2e30, 0, 1px, 3px, 0, "inset"
      );
    }

    // button
    .button {
      cursor: pointer;
      margin-left: 5px;

      -webkit-order: 3;

      @include background-image(
        linear-gradient(darken(#525559, 4%), rgba(#3d3f42, .39))
      );

      &, .icon {
        width: 34px;
      }

      .icon {
        color: #b6babf;
        font-size: 28px;
        height: 25px;
        line-height: 20px;
        overflow: hidden;
        text-align: center;

        @include transition-duration(450ms);
        @include transition-property(box-shadow color);
      }

      &:active,
      &.on { border-bottom-color: darken(#8d9299, 8.25%) }

      &.on .icon {
        color: lighten(#b6babf, 10.25%);
        @include single-box-shadow(
          rgba(white, .2), 0, 0, 32px, -2px
        );
      }
    }

    // button - toggle favourites
    .button.toggle-favourites {
      .icon { font-size: 26px }
    }

    // button - toggle user menu
    .button.toggle-user-menu {
      .icon { font-size: 25px }
    }

    // input
    .input-wrap {
      position: relative;

      @include background-image(
        linear-gradient(#343538, rgba(#3d3f42, .7))
      );

      .icon {
        color: #6C7075;
        font-size: 27px;
        height: 16px;
        line-height: 8px;
        margin-top: -7px;
        position: absolute;
        right: 6px;
        text-align: center;
        top: 50%;
        width: 16px;
        z-index: 1;

        @include background-size(80%);
      }

      &, input, select { overflow: hidden }
    }

    input, select {
      background: none;
      border: none;
      color: #b6babf;
      display: block;
      font-size: 11px;
      font-weight: bold;
      height: 25px;
      padding: 0 34px 0 7px;
      width: 100%;
      z-index: 0;

      -webkit-appearance: none;

      @include box-sizing(border-box);

      &:focus { outline: none }
    }

    input {
      line-height: normal;

      @include input-placeholder(#6c7075);
    }

    select {
      line-height: 26px;
    }

    .input-wrap.sort-by {
      margin-left: 5px;
      width: 29%;

      -webkit-order: 2;
    }

    .input-wrap.search {
      width: auto;

      -webkit-flex: 1;
      -webkit-order: 1;
    }
  }


  //
  //  List
  //
  .list {
    background: #fff;
    display: -webkit-flex;

    -webkit-flex: 1;
    -webkit-flex-direction: column;

    header, .track {
      overflow: hidden;

      .favourite, .title, .artist, .album { float: left }

      .favourite { width: 10px + 7 + 12 }
      .title  { width: 38% }
      .artist { width: 28% }
      .album  { width: 28% }

      span { display: block; padding: 0 7px }

      .favourite span { padding-left: 10px }
      .album span { padding-right: 10px }
    }
  }


  //
  //  List - Header
  //
  .list header {
    border: 1px solid #e3e3e3;
    border-bottom: 1px solid #f0f0f0;
    border-top: none;
    color: #aaa;
    font-size: 10px;
    font-weight: bold;
    height: 24px;
    line-height: 27px;

    @include background-image(linear-gradient(#fff, #fafafa));
    @include lato-font;

    span { border-right: 1px solid #f0f0f0 }
    div { @include single-box-shadow(rgba(white, 1), 0, 0, 0, 1px, "inset") }
    div:last-child span { border-right: none }
  }


  //
  //  List - Tracks
  //
  .list .tracks-wrapper {
    min-height: 0;
    overflow-y: scroll;
    position: relative;

    -webkit-overflow-scrolling: touch;
    -webkit-flex: 1;
  }

  .list .tracks {
    font-size: 11px;
    font-weight: 400;
    list-style-type: none;

    @include sourcesanspro-font;
  }

  .list .track {
    color: lighten(#4a4a4a, 10%);
    cursor: pointer;
    height: 26px;
    line-height: 28px;
    white-space: nowrap;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    // alt. row
    &:nth-child(2n) {
      background-color: #fbfbfb;
    }

    // playing
    &.playing:not(.queue-item) {
      background-color: $blueish;

      & > div { color: darken($blueish_dark, 12%) }
      .favourite { color: darken($blueish, 7%) }

      .favourite[data-favourite=true],
      .favourite:hover { color: darken($blueish_dark, 4.75%) !important }
    }

    // unavailable & queue-item
    &.unavailable,
    &.queue-item:not(.user-selected) {
      color: #999;
    }

    // drag target
    &.drag-target {
      border-bottom: 1px solid $blueish;
    }

    // favourite (star)
    .favourite {
      color: rgba(#aaa, .2);
      cursor: pointer;
      font-size: 26px;
      line-height: 26px;

      -webkit-font-smoothing: antialiased;

      @include icon-font;

      &[data-favourite=true] { color: $yellow }
    }
  }


  //
  //  List - Track groups
  //
  .list .group {
    background: rgba(#757a80, .125);
    border-bottom: 1px solid rgba(black, .0225);
    border-top: 1px solid rgba(black, .04);
    color: rgba(#44464A, .425);
    font-size: 11px;
    font-weight: bold;
    height: 38px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;

    -webkit-font-smoothing: antialiased;

    @include sans-serif-font;
  }


  //
  //  List - Messages
  //
  .list .message {
    color: #838383;
    font-size: 12px;
    left: 30px;
    margin-top: -(56px / 2);
    position: absolute;
    right: 30px;
    text-align: center;
    top: 50%;

    @include sourcesanspro-font;

    .title {
      color: #b9b9b9;
      font-size: 22px;
      font-weight: 100;
      line-height: 24px;
      text-transform: uppercase;

      -webkit-font-smoothing: antialiased;
    }

    p {
      margin: 8px 0;
    }
  }

  .list .loading {
    margin-top: 0;
    top: 47%;

    & > span {
      display: inline-block;
      position: relative;
      padding-left: 20px;
    }

    .animation {
      left: 0;
      margin-top: -1px;
      position: absolute;
      top: 50%;
      width: 16px;
    }
  }


  //
  //  Footer
  //
  footer {
    border-top: 1px solid #44464a;
    color: darken(#b6babf, 9%);
    font-size: 9px;
    font-weight: normal;
    padding: 1px;
    position: relative;
    text-align: center;

    @include background-image(
      linear-gradient(#63666b, lighten(#313336, 4.5%))
    );

    .intestines {
      height: 24px;
      line-height: 24px;
      padding: 0 10px;
      text-transform: uppercase;

      @include background-image(
        linear-gradient(#525559, lighten(#3d3f42, 4.5%))
      );
    }

    .page-nav {
      font-size: 37px;
      height: 24px;
      left: 8px;
      overflow: hidden;
      position: absolute;
      text-align: left;
      top: 1px;
      width: 25%;
    }

    .page-nav a {
      background-position: center;
      background-repeat: no-repeat;
      color: #b6babf;
      cursor: pointer;
      display: inline-block;
      height: 26px;
      line-height: 12px;
      margin-right: 5px;
      overflow: hidden;
      width: 16px;
    }

    .page-nav a.disabled {
      cursor: default;
      opacity: .45;
    }
  }


}
