/*

  Source Manager
  (element with modal class)

*/

#source-manager .window {
  visibility: hidden;

  &.shown {
    visibility: visible;
  }
}


#source-manager .toolbar {
  border-bottom: 1px solid #EBEBEB;
  padding: 10px 11px 8px;

  @include single-box-shadow(#E0E0E0, 0, 1px, 0, 0);

  a {
    background: $green_2;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 5px 7px;

    @include border-radius(3px);
  }
}


#source-list {
  width: 100%;

  td {
    padding: 6px  0;
  }

  td:first-child {
    text-align: center;
    width: 34px;
  }

  input[type="checkbox"] {
    display: inline-block;
  }
}
