#special-filters {
  margin-top: 26px;
}



/**************************************
 *  Favourites
 */
#special-filters #favourites {
  
  a[href="#/favourites"] {
    border: 1px dotted rgba(black, .13);
    color: rgba(#fff, .87);
    display: block;
    text-decoration: none;
    
    & > div {
      border-top: 3px solid rgba(black, .07);
      padding: 7px 17px 10px;
      position: relative;
    }
    
    span {
      font-weight: 600;
      line-height: 20px;
    }
    
    i {
      font-size: 15px;
      height: 16px;
      line-height: 16px;
      margin-top: -8px;
      opacity: .4;
      position: absolute;
      right: 17px;
      text-align: right;
      top: 50%;
      width: 16px;
    }
    
    &.on, &:hover {
      color: rgba(white, .85);
      
      @include single-box-shadow(rgba(white, .1), 0, 0, 10px, 0, true);
      
      & > div { border-top-color: rgba(white, .1) }
      & > div i { opacity: 1 }
    }
  }
  
}
