/*

  User Menu

*/

#user-menu {
  color: white;
  font-size: 11px;
  position: absolute;
  right: -13px;
  top: 44px;
  width: 166px;
  z-index: 99;

  @include sourcesanspro-font;

  &.hidden {
    display: none;
  }

  // arrow
  .arrow {
    border-bottom: 5px solid #343538;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: block;
    height: 0;
    margin-left: 118px;
    width: 0;
  }

  // group
  .group {
    background: #343538;

    @include single-box-shadow(rgba(black, .2), 0, 0, 14px, 0);

    &:not(:last-child) {
      border-bottom: 1px solid rgba(white, .2475);
    }
  }

  // buttons
  a {
    border-bottom: 1px solid rgba(white, .1);
    color: $light;
    cursor: pointer;
    display: block;
    line-height: 20px;
    padding: 8px 11px 5px;
    text-decoration: none;
  }

  a:last-child {
    border-bottom: 0;
  }

  a:hover {
    background: $blueish_dark;
    color: white;
  }

  // checkbox
  .checkbox {
    border: 1px solid rgba($light, .375);
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    position: relative;
    top: 2px;
    width: 10px;

    @include border-radius(3px);
  }

  a.on .checkbox:after {
    color: white;
    content: "\02713";
    font-size: 30px;
    left: -1px;
    line-height: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;

    @include icon-font;
  }


}
